<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="cart.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row ">
          <div class="col-6 col-md-4 d-flex flex-wrap" v-for="item in products" :key="item.id">
            <div class="card mx-auto my-5" style="width: 100%;">
              <img
                :src="item.imageUrl"
                class="card-img-top"
                :alt="item.title"
              />
              <div class="card-body">
                <div class="d-flex">
                  <h4 class="card-title">
                    {{ item.title }}
                  <span class="badge bg-primary ms-2">{{ item.category }}</span>
                  </h4>
                </div>
                <p class="card-text">
                  <p class="text-decoration-line-through">
                    原價:NT{{ item.origin_price }}
                  </p>
                  特價:NT{{ item.price }}
                </p>
                <div class="d-flex justify-content-between">
                  <button
                  type="button"
                  class="btn btn-outline-secondary"
                  @click="getProduct(item.id)"
                  :disabled="loadingStatus.loadingItem === item.id || !item.is_enabled"
                  >
                    <i
                    class="fas fa-spinner fa-pulse"
                    v-if="loadingStatus.loadingItem === item.id"
                  ></i>查看更多</button>
                  <button
                  type="button"
                  class="btn btn-outline-danger"
                  @click="addToCart(item.id)"
                  :disabled="loadingStatus.loadingItem === item.id || !item.is_enabled"
                  >
                    <i
                    class="fas fa-spinner fa-pulse"
                    v-if="loadingStatus.loadingItem === item.id"
                  ></i>加入購物車</button>
                </div>
              </div>
            </div>
          </div>   
        </div>
      </div>
      
      <pagination
      :pages="pagination"
      @emit-pages="getProducts"
      ></pagination>

      <div class="d-md-block d-none">
        <table class="table align-middle mx-auto" style="width: 80%;">
          <div style="width: 80%;" class="mx-auto mb-3 d-flex justify-content-between">
            <h1>購物車</h1>
            <button
            type="button"
            class="btn btn-outline-secondary mb-3"
            @click="deleteAllCarts('open')"
            :disabled="cart.carts.length === 0 || loadingStatus.loadingItem === 'open'"
            >
              <i
              class="fas fa-spinner fa-pulse"
              v-if="loadingStatus.loadingItem === 'open'"
            ></i>清空購物車</button>
          </div>
          <thead>
            <tr>
              <th>圖片</th>
              <th>商品名稱</th>
              <th>數量</th>
              <th>價格</th>
              <th>刪除</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in cart.carts" :key="item.id" >
              <td style="width: 200px">
                <div
                  style="height: 100px; background-size: cover; background-position: center"
                  :style="{backgroundImage: `url(${item.product.imageUrl})`}"
                ></div>
              </td>
              <td>
                {{ item.product.title }}
              </td>
              <td>
                <select name="productNum" class="form-select" style="width: 100%;"
                v-model="item.qty"
                @change="updateCart(item)"
                :disabled="loadingStatus.loadingItem === item.id"
                >
                  <option 
                  :value="num"
                  v-for="num in 8"
                  :key=`${num}${item.id}`
                  >{{ num }}</option>
                </select>
              </td>
              <td>
                {{ item.product.price*item.qty }}
              </td>
              <td>
                <i class="fas fa-trash-alt w-100"
                type="button"
                @click="removeCartItem(item)"
                :disabled="loadingStatus.loadingItem === item.id"
                >
                </i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="w-100">
          <div style="width: 80%;" class="mx-auto d-flex justify-content-end">
            <h2 v-if="cart.final_total>0">
              總金額:{{cart.final_total}}
            </h2>
          </div>
        </div>
      </div>
      
      <!--RWD-->
      <ul class="d-md-none w-100 p-0 m-0">
        <div style="width: 80%;border-bottom:1px solid #000;" class="mx-auto mb-3 d-flex justify-content-between">
          <h1>購物車</h1>
          <button
          type="button"
          class="btn btn-outline-secondary mb-3"
          @click="deleteAllCarts('open')"
          :disabled="cart.carts.length === 0 || loadingStatus.loadingItem === 'open'"
          >
            <i
            class="fas fa-spinner fa-pulse"
            v-if="loadingStatus.loadingItem === 'open'"
          ></i>清空購物車</button>
        </div>
        <li v-for="item in cart.carts" class="mx-auto mb-3" style="width: 80%;">
          <div class="card" style="width:100%">
            <div class="card-body d-flex">
              <div style="width: 100px;">
                <div
                style="height: 100px; background-size: cover; background-position: center"
                :style="{backgroundImage: `url(${item.product.imageUrl})`}"
                ></div>
              </div>
              <div style="width: 400px;">
                <div class="text-center mb-3">
                  {{ item.product.title }} 
                </div>
                <select name="productNum" class="form-select mx-auto mb-3" style="width: 80%;"
                v-model="item.qty"
                @change="updateCart(item)"
                :disabled="loadingStatus.loadingItem === item.id"
                >
                  <option 
                  :value="num"
                  v-for="num in 8"
                  :key=`${num}${item.id}`
                  >{{ num }}</option>
                </select>
                <div class="text-center">
                  <span>金額:</span>
                  {{ item.product.price*item.qty }}
                  <i class="fas fa-trash-alt px-5"
                  type="button"
                  @click="removeCartItem(item)"
                  :disabled="loadingStatus.loadingItem === item.id"
                  >
                  </i>
                </div>
              </div>
            </div>
          </div>
        </li>
        <div class="w-100">
          <div style="width: 80%;" class="mx-auto d-flex justify-content-end">
            <h2 v-if="cart.final_total>0">
              總金額:{{cart.final_total}}
            </h2>
          </div>
        </div>
      </ul>

      <div class="w-50 mx-auto mt-5 mb-3" style="border-bottom: 1px solid #000;">
        <h1>訂購人資訊</h1>
      </div>
      <div class="mb-5 row justify-content-center">
        <v-form
          ref="form"
          class="col-md-6"
          v-slot="{ errors }"
          @submit="createOrder"
        >
          <div class="mb-3">
            <label for="name" class="form-label">收件人姓名<span class="px-1" style="color: #f00;">*</span></label>
            <v-field
              id="name"
              name="姓名"
              type="text"
              class="form-control"
              :class="{ 'is-invalid': errors['姓名'] }"
              placeholder="請輸入姓名"
              rules="required"
              v-model="form.user.name"
            ></v-field>
            <error-message
              name="姓名"
              class="invalid-feedback"
            ></error-message>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">收件人電子郵件<span class="px-1" style="color: #f00;">*</span></label>
            <v-field
              id="email"
              name="email"
              type="email"
              class="form-control"
              :class="{ 'is-invalid': errors['email'] }"
              placeholder="請輸入電子郵件"
              rules="email|required"
              v-model="form.user.email"
            ></v-field>
            <error-message
              name="email"
              class="invalid-feedback"
            ></error-message>
          </div>

          <div class="mb-3">
            <label for="tel" class="form-label">收件人電話<span class="px-1" style="color: #f00;">*</span></label>
            <v-field
              id="tel"
              name="電話"
              type="text"
              class="form-control"
              :class="{ 'is-invalid': errors['電話'] }"
              placeholder="請輸入電話"
              rules="required|min:8|max:10"
              v-model="form.user.tel"
            ></v-field>
            <error-message
              name="電話"
              class="invalid-feedback"
            ></error-message>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">收件人地址<span class="px-1" style="color: #f00;">*</span></label>
            <v-field
              id="address"
              name="地址"
              type="text"
              class="form-control"
              :class="{ 'is-invalid': errors['地址'] }"
              placeholder="請輸入地址"
              rules="required"
              v-model="form.user.address"
            ></v-field>
            <error-message
              name="地址"
              class="invalid-feedback"
            ></error-message>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">留言</label>
            <textarea
              name=""
              id="message"
              class="form-control"
              cols="30"
              rows="10"
              v-model="form.message"
            ></textarea>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-danger"
            :disabled="Object.keys(errors).length > 0 || cart.carts.length === 0"
            >送出訂單</button>
          </div>
        </v-form>
      </div>
      
    </div>

    <script type="text/x-template" id="pagination">
      <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
          <li
            class="page-item"
            :class="{'disabled': pages.current_page === 1}"
          >
            <a
              class="page-link"
              href="#"
              aria-label="Previous"
              @click.prevent="emitPages(pages.current_page - 1)"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            v-for="(item, index) in pages.total_pages"
            :key="index"
            class="page-item"
            :class="{'active': item === pages.current_page}"
          >
            <span
              class="page-link"
              v-if="item === pages.current_page"
            >{{ item }}</span>
            <a
              class="page-link"
              href="#"
              v-else
              @click.prevent="emitPages(item)"
            >{{ item }}</a>
          </li>
          <li
            class="page-item"
            :class="{'disabled': pages.current_page === pages.total_pages}"
          >
            <a
              class="page-link"
              href="#"
              aria-label="Next"
              @click.prevent="emitPages(pages.current_page + 1)"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </script>
  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js' integrity='sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ==' crossorigin='anonymous'></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"
  ></script>
  
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vee-validate@next"></script>
  <script src="https://unpkg.com/@vee-validate/i18n@4.1.0"></script>
  <script src="https://unpkg.com/@vee-validate/rules"></script>
  <script src="cart.js"></script>
</html>
